@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  background-color: black;
  color: #FCCEC4;
}